html, body {
  margin: 0;
  height: 100%;
}

::-webkit-scrollbar { 
    display: none; 
}

body { 
  background-color: rgb(238, 238, 238);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a:link {
  text-decoration: none;
}

a > img{
  margin-top: -50px;
  display: inline;
}

hr{
  height: 5px;
  height: .5vmax; 
  border:none; 
  color:#FFFFFF; 
  background-color:#FFFFFF;
}

.container{
	padding-top: 50px;
}

.jumbotron { 
  padding-top: 10px;
  margin-top: 45px;
	overflow: auto;
	background: none;
}

section {
  box-sizing: border-box;
  min-height: 175px;
  height: 175px;
  height: 23vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-transform: uppercase;
  color: #fff;
  font-size: 8vw;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

section h1{
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-75%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

section:first-of-type {
  text-transform: uppercase;
  color: #fff;
  font-size: 8vw;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.nav li{
  min-width: 100px;
  width: 7.5vmax;
  text-align: center;
}

.nav > li:hover {
  background-color: #0a0b0b;
}

.navbar-default {
  background-color: #32383b;
  border: none;
  font-weight: bold;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #d35400;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #d35400;
}
.navbar-default .navbar-toggle {
  border-color: #d35400;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #d35400;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #d35400;
  }
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}