<div class="homepage-hero-module">
	<div class="video-container">
		<div class="filter"></div>
		<video autoplay loop class="fillWidth">
			<source src="assets/Big-Apple.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
			<source src="assets/Big-Apple.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
		</video>
		<div class="poster hidden">
			<img src="assets/Big-Apple.jpg" alt="">
		</div>
	</div>
</div>

<div id="index" class="jumbotron" hidden>
  <div class="welcome">
    <span></span>
    <div class="welcome-text"> 
      <h1>Welcome!<hr></h1>
  <!--    <a href="https://www.facebook.com/vincentxie9" target="_blank"><img src="assets/facebook.png"></a> 
      <a href="https://github.com/vince-xie" target="_blank"><img src="assets/github.png"></a>
      <a href="https://www.linkedin.com/pub/vincent-xie/b1/b82/856" target="_blank"><img src="assets/linkedin.png"></a> -->
    </div>
  </div>
</div>

